<footer class="bg-dark text-white text-center py-2">
    <p>&copy; All Rights Reserved KIND Entertaiment 2023</p>
    <ul class="list-unstyled list-inline">
        <li class="list-inline-item">
            <a href="#" class="fa favicon fa-github"> </a>Github
        </li>
        <li class="list-inline-item">
            <a href="#" class="fa favicon fa-facebook"> </a>Facebook
        </li>
        <li class="list-inline-item">
            <a href="#" class="fa favicon fa-youtube"> </a>Youtube
        </li>
        <li class="list-inline-item">
            <a href="#" class="fa favicon fa-tiktok"> </a>TikTok
        </li>
    </ul>
</footer>